
<h2>My Groups</h2>
<ul>

	<!-- render, if passed a collection, will automatically iterate over that collection -->
	<%= render @my_groups%> 

</ul>

<h2>Groups</h2>

<ul>

	<%= render @groups %></li></p>
				
</ul>